/* PERSONALIZACIÓN DE LA PLATAFORMA MOODLE DE LA UNIVERSIDAD CATÓLICA LUIS AMIGÓ

Estas reglas de estilo sustituyen la apariencia estándar de los siguientes componentes:
    1. @adaptable ---> Tema "Adaptable" versión  2.2.2 - 2019112603 para Moodle 3.9, 
    2. @edwiser   ---> Fomato de curso "Edwiser Course Formats" versión 1.0.7 - 2020061802 para Moodle 3.9 
    3) @atto      ---> Editor Atto 
    4) @foros     ---> Foros (Módulo nativo de Moodle)
NOTA: También se tienen estilos independientes que son llamados manualmente desde los contenidos publicados */

/*---------------------------------------------------------*/
/*:::::::::::::: TEMA ADAPTABLE @adaptable ::::::::::::::::*/
/*---------------------------------------------------------*/

/*******  @adaptable -> PARTE 1 - ENCABEZADO - HEADER *******/

#adaptable-page-header-wrapper #main-navbar .navbar-nav>li>a, #adaptable-page-header-wrapper #main-navbar .navbar-nav>li>div.nav-link {
    color: #333;     /* Color del texto del menú de navegación */
}

#adaptable-page-header-wrapper, #page-login-index header {
    background-color: #fafafa;  /* Fondo de la barra superior del encabezado del sitio */
}

#logo {
    margin-top: 8px; /* Posición del logo */
    max-width: 305px;
}

#sitetitle p, #sitetitle h1 {
    /*Título del sitio o página - Encabezado*/
    color: #929292 !important;
    font-size: 0.36em;
    line-height: 62px;
}

.action-menu-trigger>.dropdown>a {
    color: #ffffff; 
}

#adaptable-page-header-wrapper {
    background-color: #fafafa;
    box-shadow: -6px 6px 8px -6px rgba(0,0,0,0.16);
}

/*ICONOS MENSAJE, NOTIFICACIONES, IDIOMA*/
#adaptable-page-header-wrapper #header2 .navbar .popover-region-toggle i, #adaptable-page-header-wrapper #header2 a i{
    color: #007b99;
    font-size: 1.6em;
}

/*nombre de usuario logueado*/
#adaptable-page-header-wrapper #above-header .navbar-nav>li>a, #adaptable-page-header-wrapper #header2 .navbar-nav>div>li>a, #adaptable-page-header-wrapper #header2 .navbar-nav>li>a, #adaptable-page-header-wrapper #header2 .navbar-nav>a {
    color: #007b99;
    font-size: 14px;
    text-decoration: none;
}
   
#adaptable-page-header-wrapper #main-navbar {
background-color: #FFF;
border-bottom: none;
box-shadow: -6px 6px 8px -8px rgba(0,0,0,0.22);
}

/*ELIMINO FONDO DEL MENU DE ARBOL DE NAVEGACION*/
.breadcrumb {
background-color: #fff !important;
}

/*Sombra de íconos de notificaciones y mensajes*/
#adaptable-page-header-wrapper #header2 i, #adaptable-page-header-wrapper #page-header i {
text-shadow: none
}

/*Color de piñón de editar ajustes*/
.action-menu-trigger>.dropdown>a {
color: #333333;
}

/*altura de cabecera*/
#header2 {
max-height: 80px;
min-height: 80px;
}

/*Color de fondo de los bloques*/
.block>.content {
background: #fafafa;
}

/*Tamaño de los íconos*/
#adaptable-page-header-wrapper #header2 .navbar .popover-region-toggle i, #adaptable-page-header-wrapper #header2 a i {
font-size: 1.3em;
}

/*------- REGLAS DE ESTILO PARA EL DASHBOARD DEL USUARIO -----------*/

/*Color de botones en cards del dashboard*/
.btn-primary, .backup-restore .singlebutton button[type="submit"], .path-mod-workshop .assessment-summary.graded .singlebutton input[type="submit"], .path-mod-workshop .example-summary.graded .singlebutton input[type="submit"], .btn-default, [data-role="next"], [data-role="previous"], input[type="submit"], input[type="button"], #searchform_button, a.submit, #notice .singlebutton + .singlebutton input, #page-login-index2 .forgetpass a, input.form-submit, input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], .nav-pills>.active>a, td.submit input, div.discussionsubscription>a.discussiontoggle, .btn-outline-secondary, .paging-morelink a, .btn-link, a#adaptable-message-user-button, #availability_addrestriction_date.btn.btn-secondary, #availability_addrestriction_grade.btn.btn-secondary, #availability_addrestriction_profile.btn.btn-secondary, #availability_addrestriction_list_.btn.btn-secondary, #availability_addrestriction_completion.btn.btn-secondary {
background-color: #eeeeee;
color: #3a454b!important;
}

/*Fondo de div en info de linea de tiempo dashboard*/
.list-group-item {
background-color: #fafafa;
}

/*Mostrar la lista completa en cards de recursos accedidos recienteme en dashboard  */
.dashboard-card-deck.one-row {
flex-flow: wrap;
}

/*Oculta region superior de bloques en los cursos... genera espacio vacío*/
#frontblockregion {
display:none;
}



/*---------------------------------------------------------*/
/*::::::::::::: FORMATO DE CURSO EDWISER @edwiser ::::::::::::::*/
/*---------------------------------------------------------*/

/*Cambia texto blanco por negro en sección 0 edwiser formats*/
.text-white * { color: #555 !important; }

/*Oculta titulo de seccion 0*/
.wdm-generalsectiontitle {display:none}

/* Cambiar tamaño de íconos de actividad/recurso en módulo 0*/
.section.first-section .activityinstance .iconlarge.activityicon {
width: 50px;
height: 50px; 
}

/*Disminuye en .1 el tamaño relativo del título de las actividades*/
.section .activity .contentwithoutlink>a>span, .section .activity .activityinstance>a>span, .section .activity .contentwithoutlink .inplaceeditable>a>span, .section .activity .activityinstance .inplaceeditable>a>span {
font-size: 1em;
}

/*Cambia el color del texto en el título de las actividades y recursos de curso*/
.section .activity .contentwithoutlink>a, .section .activity .activityinstance>a, .section .activity .contentwithoutlink .inplaceeditable>a, .section .activity .activityinstance .inplaceeditable>a {
color: #65656e; 
}

/*Elimina borde redondeado y aumenta altura de barra de progreso en módulo 0 del curso*/
.general-section-card-details .progress, .first-section-li .progress {
border-radius: unset;
height: 20px;
}

/*Aumenta tamaño de valor de porcentaje de avance*/
.progress {
font-size: .9rem;
}

/*Color de relleno de progreso en barra de módulo 0*/
.bg-green-600 {
background-color: #f79e2b!important;
}

/*Cambia el color del texto de las etiquetas en los cursos*/
div.activity-wrapper {
color: #373a3c;
text-align: justify;
}

/*Titulo de sección Edwiser*/
ul.remui-format-list h4.sectionname {
font-size: 25px;
padding: 7px 0px 0px;
}

/*--------------UBICAR CASILLA DE FINALIZACIÓN DE ACTIVIDAD AL FINAL DEL TITULO DE LA MISMA--------*/
.section .activity .actions-right .actions {
position: relative;
padding-left: 15px;
}

li.activity div.actions-right{
display: contents;
}

.section .activity .actions {
display: contents;
}

.section .activity .activityinstance {
min-width: auto;
}

.path-course-view li.activity span.autocompletion img {
margin-left: 15px;
}




/*********************************************************************************************/
/*::::::::::::: REGLAS DE ESTILO INDEPENDIENTES - SE LLAMAN MANUALMENTE :::::::::::::::::::::*/
/*********************************************************************************************/

/*Nombre de las secciones del curso, se aplica en el NOMBRE DEL CURSO*/
.tituloSeccion{
text-align: center;
font-size: 1.5em;
color: #5c5b5b;
margin-bottom: 15px;
padding: 15px;
-webkit-box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.1);
box-shadow: 0px 8px 8px -5px rgba(0,0,0,0.1);
}

/* AJUSTAR ESPACIO ENTRE RECURSOS DE LOS MÓDULOS*/

div.activity-wrapper {
margin: 0px;
padding: 0px;
}

ul.remui-format-list li.section ul.section li.activity {
padding: 6px 0!important;
}

/*Quitar linea horizontal divisoria*/
ul.remui-format-list li.section ul.section li.activity {
border-bottom: none;
}

/*Estilo de mensaje de alerta de restricción*/

#page-course-view-remuiformat ul.remui-format-list .section .activity .availabilityinfo {
margin-left: 30px;
/* margin-right: auto; */
background-color: #fff7dc;
border: 1px solid #fff3cd;
padding: 2px;
border-radius: 5px;
font-size: 0.9em;
line-height: 12px;
}

.section .activity .availabilityinfo {
margin-top: 0px;
}

/*Botón de restricción en actividades*/
#page-course-view-remuiformat ul.remui-format-list .isrestricted .badge{
background-color: #ff9359;
color: #fff;
padding: 3px 8px 3px 8px;
margin-top: 3px;
line-height: 20px;
}



/*·························································································*/ 
/********* ESTILOS PARA LAS ETIQUETAS DENTRO DE LAS PESTAÑAS DE LOS CURSOS DICOM ***********/
/*·························································································*/ 

.etiqueta {
margin-top:15px;
padding-bottom:5px;
min-height:35px;
/*max-width:360px;*/
border-top: 1px solid #eeeeee;
color:#1F538F;
font-size:19px;
font-weight:bold;
padding-left:33px;
padding-top:19px;
font-weight:600;
}

.etiquetaX {
padding-bottom:5px;
min-height:35px;
/*max-width:360px;*/
/*border-top: 1px solid #eeeeee;*//*Elimina borde superior*/
color:#1F538F;
font-size:19px;
font-weight:bold;
padding-left:33px;
padding-top:20px;
font-weight:600;
}

.etiqueta:hover {
color:#2567AF;
}

.infoCurso, .infoCursoX {
/*Etiqueta "Presentación del curso y del tutor" en la unidad 0*/
background: url('img/infoCurso.gif') 0px 18px no-repeat;
border-top: none !important;
margin-top:0px !important;
} 


.infoCurso:after {
/*Etiqueta "Presentación del curso y del tutor" en la unidad 0*/
content:" Información básica del curso";
}



.aulaVirtual, .aulaVirtualX{
/*Etiqueta "Presentación del Aula Virtual" en la unidad 0*/
background: url('img/aulaVirtual.gif') 0px 18px no-repeat;
} 


.aulaVirtual:after {
/*Etiqueta "Presentación del Aula Virtual" en la unidad 0*/
content:" Presentación del aula virtual";
}

.previasU0, .previasU0X{
/*Etiqueta "Actividades Previas a la Unidad 1" en la unidad 0*/
background: url('img/previasCurso.gif') 0px 18px no-repeat;
} 


.previasU0:after{
/*Etiqueta "Actividades Previas a la Unidad 1" en la unidad 0*/
content:" Actividades previas a la unidad 1";
} 


.lecciones, .leccionesX{
/*Etiqueta "Desarrollo Temático" en cada unidad de aprendizaje*/
background: url('img/lecciones.gif') 0px 18px no-repeat;
} 

.lecciones:after{
/*Etiqueta "Desarrollo Temático" en cada unidad de aprendizaje*/
content:" Desarrollo temático de la unidad";
} 


.lecturas{
/*Etiqueta "Lecturas Complementarias" en cada unidad de aprendizaje*/
background: url('img/lectocomplemento.gif') 4px 24px no-repeat;
} 

.lecturas:after{
/*Etiqueta "Lecturas Complementarias" en cada unidad de aprendizaje*/
content:"Lecturas complementarias";
font-size:18px;
color: #2867ad;
} 


.foros{
/*Etiqueta "Foros de Discusión e Interacción" en cada unidad de aprendizaje*/
background: url('img/foros.gif') 0px 18px no-repeat;
} 

.forosX{
/*Etiqueta "Foros de Discusión e Interacción" en cada unidad de aprendizaje*/
background: url('img/foros.gif') 0px 18px no-repeat;
} 

.foros:after{
/*Etiqueta "Actividades de Discusión e Interacción" en cada unidad de aprendizaje*/
content:" Actividades de interacción y debate";
} 


.evidencias, .evidenciasX{
/*Etiqueta "Evidencias de Aprendizaje" en cada unidad */
background: url('img/evidencias.gif') 5px 14px no-repeat;
} 

.evidencias:after{
/*Etiqueta "Evidencias de Aprendizaje" en cada unidad */
content:" Evidencias de aprendizaje";
} 

/***** FOROS ****/

#descripcionForo {
/*Texto de introducción genérico al foro conozcámonos*/
background: url('img/foroNovedades.gif') no-repeat;
padding: 0px 25px 20px 100px ;
text-align:justify;
margin-left:15px;

}

#descripcionForoUnidad {
/*Texto de introducción genérico al foro de unidad mlopez04/07/2018/ */
background: url('img/foroNovedades.gif') no-repeat;
padding: 0px 25px 20px 100px ;
text-align:justify;
margin-left:15px;
}	




/*·························································································*/ 
/********* FIN ESTILOS PARA LAS ETIQUETAS DENTRO DE LAS PESTAÑAS DE LOS CURSOS DICOM ***********/
/*·························································································*/ 



/*Subtittulo de seccion módulo edwiser*/
.mlopez1092 {
box-shadow: 0 8px 8px -8px rgba(0,0,0,.1);
margin-bottom: 20px; 
padding-bottom:10px;
margin-left: -5px;
padding-left: 7px;
}

/*Restricciones de sección*/
.availabilityinfo {
background-color: #f5f5f5;
padding: 8px;
line-height: 12px;
margin-bottom: 10px;
}

/*Color botón de buscador encabezado superior*/

#adaptable-page-header-wrapper #header2 .search-input-wrapper>div {
color: #646464;
}

/*Elimina fondo de los bloques*/

.block {
background: #ffffff!important;
}

iframe { border: 0px;}
#contentframe {border: none;}

/*ítem activo en bloque de navegación*/

.block.block_course_modulenavigation ul.activities li>a.active {
background-color: #ecffec;
}

/*Ocultar busqueda de foros en barra de navagacion*/

.forumsearch {
display:none !important;
}


/*Elimino decoración de TAREAS, FOROS Y CUESTIONARIO en la página principal del curso*/

.section li.modtype_assign div.activity-wrapper, .section li.modtype_quiz div.activity-wrapper, .section li.modtype_forum div.activity-wrapper {
box-shadow: none !important;
border-bottom: none !important;
}

/*Texto del módulo 0 con mensaje para el tutor y el estudiante*/
.introCurso {text-align:justify; padding:20px 20px 0px; }

/*Menu hamburguesa para versión móvil*/

#adaptable-page-header-wrapper #adaptable-page-header-nav-drawer button {
font-size: 1.8em;
color: #666;
padding-left: 10px;
}

@media (max-width: 767px){
#adaptable-page-header-wrapper>#header2>div>div{
min-height: 72 !important;
}
}

/*Oculta la imagen de los cursos en la vista dentro de categorías*/

.content .courseimage {

display:none;
}


/*página de login*/

#page-login-index .card {
background-color: transparent !important;
border: none !important;
}




/* Ocultar enlace de recuperación de contraseña en la página de login */

.forgetpass { display: none !important;}


/* Hover en opción de oculta/mostrar bloques y pantalla completa */

#adaptable-page-header-wrapper #main-navbar li div.nav-link:hover, #adaptable-page-header-wrapper #main-navbar ul.navbar-nav>li>a.nav-link:hover {
background-color: #fafafa;
color: #007B99;
}

/*Hove en menu del panel de chat*/
[data-region='message-drawer'] [data-region='body-container'] .btn-link:hover {
color: #007b99!important;
}

/*Panel de notificaciones ajuste en sombra*/

.popover-region-container {
border: 1px solid #f5f5f5;
box-shadow: 5px 5px 5px 1px #23232330;
}

/*Color EVENTO DE CURSO en calendario*/

.calendar_event_course {
background-color: #ffedbf;
}

/*Ahora los eventos de GRUPO*/
.calendar_event_group {
background-color: #a9d7ff;
}

.path-calendar .maincalendar .calendar_event_course {
border:none;
}

.box {
margin-top: 0px;
color: black;
}

/*Selección de texto o contenidos en la página*/
::selection {
color: #000;
background-color: #d1f6ff;
}

/*Espacio entre ítems de opciones de perfil de usuario*/

#page-user-profile .node_category li, .path-user .node_category li {

margin-top:0px;

}


/*Estilos de pestañas en perfil de usuario*/

.tabcontentcontainer input.adaptabletab:checked + label {
background-color: #007b99;
border-color: #007b99;
}

#adaptable_profile_tree .adaptable-tab.tab-panel {
border-top: 4px solid #007b99;
}

.tabcontentcontainer label.adaptabletab {
background-color: #f5f5f5;
}

/*Sección de bloques solo visibles para el admin en el área personal*/

.hidden-blocks {
background-color: rgb(255, 247, 228);
}

/*Barra de anuncios en Dashboard*/

#ticker-wrap {
background: #f5f5f5;
}

#ticker-announce {
background-color: #007b99;
font-weight: 400; 
}

/*Alertas adaptable - */

.customalert {
font-weight: 400;
font-size: 14px;
}


#page-content {
padding: 25px 0 20px;
}

textarea {
width: 95% !important;
height:130px;
}

/*PAnel de notificaciones*/

.content-item-container.unread {
background-color: #ffffff;
color: #51666c;
font-size: 13px;
}

.content-item-container.notification .content-item-body .notification-message {
font-size: 14px !important;
color: #1c2021;
}

/*ventana flotante agregar actividad o recurso*/

.moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {

width: 75% !important;
}

/*Lista de cursos en categorías*/

.coursebox>.info>.coursename a {
font-size: 14pt;
}

.courses .coursebox.collapsed {
padding: 0px;
}

.courses .coursebox {
background-color: white !important;
}

.coursebox .content .teachers {
margin: -5px 0px 0px 26px;
} 

.coursebox .content .teachers li {

color: #007b99;
background: #f8f9fa;
margin-bottom: 10px;
}

.coursebox .moreinfo {
padding: 8px 0;
float: inherit;
}

/*Tamaño de los cards en dahsboard y otras áreas*/

@media (min-width: 1360px){
body:not(.zoomin) .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
width: calc(33% - .5rem);
}}

/*Panel del Chat // Mensajeria*/

.bg-secondary {
background-color: #e1ffe1!important;
border: 1px solid #e7eae7;
}

.message-app .message.send .tail { border-bottom-color: #e1ffe1!important;}



/*Header en calendario, eventos próximos*/

.calendar_event_course>div>h3 {font-size: 15pt !important; margin: 0 0 4px;}

.card-header {padding: .2rem 1.25rem;}

/*Apariencia de los bloques*/

.block .title h2 {
color: #0c5263;
}

.block>.content {
background: #ffffff;
}

/*Hover en enlaces de texto*/
a:hover, a:active {
color: #007b99;
}

/* Se ajusta en panel para eleccón de archivos*/

.nav-pills .nav-link.active { background-color: #eeeeef;}

/*ESTILOS PARA MÓDULO PDF ANOTATION*/

.path-mod-pdfannotator .chat-message-container, .path-mod-pdfannotator .chat-message.questions.page, .path-mod-pdfannotator .chat-message.questions:not(.page), .path-mod-pdfannotator #myarea{
font-size: 1.3em;
}


/*Corrige error de visualización al editar detalles del examen en las preguntas*/

#page-mod-quiz-edit ul.slots li.section li.activity .activityinstance {
position: relative;
left: 0em;
}

/*Cuenta regresiva reloj cuestionario*/

#quiz-timer {
color: #f31b15;
font-size: 1.5em;
margin-bottom: 10px;
}

/*ESTILOS PARA ETIUETAS EN CURSOS PERSONALIZADOS*/

.colortag{
padding: 10px 5px 5px 50px;
font-size: 1.5em;
color: #5d5d5d;
min-height: 45px;
line-height: 25px;
margin-bottom:20px;
border: 1px solid #efefef;
}

.ipresentacion{
background: #f5f5f5 url(dark/libros.png) no-repeat;
background-position: 10px;
}

.iforo{
background: #f5f5f5 url(dark/foro.png) no-repeat; 
background-position: 10px;

}
.iactividad{
background: #fff6dd url(dark/tarea.png) no-repeat; 
background-position: 10px;

}
.idesarrollo{
background: #f5f5f5 url(dark/desarrollo.png) no-repeat; 
background-position: 10px;

}
.ibibliografia{
background: #f5f5f5 url(dark/carpeta.png) no-repeat; 
background-position: 10px;

}
.icuestionario{
background: #fff6dd url(dark/tarea.png) no-repeat; 
background-position: 10px;

}
.ilecturas{
background:#f5f5f5 url(dark/lectura.png) no-repeat; 
background-position: 10px;

}
.irecursos{
background:#f5f5f5 url(dark/8p.png) no-repeat; 
background-position: 10px;
}

/*Boton de Google en Página de Login*/

.potentialidplist>.potentialidp>a {

background-color: #db4747;
}

/*BORRAR OJO*/
/*Esto oculta el botón de login en el header de la plataforma
#pre-login-form {display:none}
#guestlogin {display:none}*/

/*08/05/2020 ---> Libro de calificaciones --> Oculto descripción del cálculo en los totales de categoría*/

.gradeitemdescription {
display: none; 
}

/* Se ajusta el ancho predeterminado del ancho de columna del FEEDBACK en el libro de calificaciones */
td.level3.levelodd.item.b1b.feedbacktext.column-feedback {
width: 35%;
}

/*Ajuste en el fondo del libro de calificaciones // vista del estudiante */

.path-grade-report-user .user-grade.generaltable .levelodd {
background-color: rgba(255, 255, 255, 0);
}

/*11/05/2020 mlopez --> oculta barra de info en diapositivas de página principal de moodle*/
.flex-caption {
display:none;
}



.attostylesbox {
padding: 10px;
box-sizing: border-box;
border-radius: 5px;
margin-bottom: 10px;
width: 100%
}
.attostylesbox.attostylesbox-solid {
color: white;
}
.attostylesbox.attostylesbox-outline {
background-color: white;
border-width: 2px;
border-style: solid;
}
.attostylesbox.attostylesbox-callout {
background-color: white;
border: 1px solid #eee;
border-left-width: 5px;
}
.attostylesbox.attostylesbox-solid-blue {
background-color: #7d9fd3;
}
.attostylesbox.attostylesbox-solid-green {
background-color: #98ca3e;
}
.attostylesbox.attostylesbox-solid-yellow {
background-color: #ffcf35;
}
.attostylesbox.attostylesbox-solid-red {
background-color: #ef4540;
}
.attostylesbox.attostylesbox-solid-black {
background-color: #3a3a3a;
}
.attostylesbox.attostylesbox-outline-blue {
border-color: #7d9fd3;
color: #7d9fd3;
}
.attostylesbox.attostylesbox-outline-green {
border-color: #98ca3e;
color: #98ca3e;
}
.attostylesbox.attostylesbox-outline-yellow {
border-color: #ffcf35;
color: #ffcf35;
}
.attostylesbox.attostylesbox-outline-red {
border-color: #ef4540;
color: #ef4540;
}
.attostylesbox.attostylesbox-outline-black {
border-color: #3a3a3a;
color: #3a3a3a;
}
.attostylesbox.attostylesbox-callout-blue {
border-left-color: #7d9fd3;
}
.attostylesbox.attostylesbox-callout-orange {
border-left-color: #ff9d68;
}
.attostylesbox.attostylesbox-callout-green {
border-left-color: #98ca3e;
}
.attostylesbox.attostylesbox-callout-yellow {
border-left-color: #ffcf35;
}
.attostylesbox.attostylesbox-callout-red {
border-left-color: #ef4540;
}
.attostylesbox.attostylesbox-callout-black {
border-left-color: #3a3a3a;
}
.attostylestextmarker {
border-radius: 5px;
padding-left: 5px;
padding-right: 5px;
}
.attostylestextmarker.attostylestextmarker-green {
background: #99ffcc;
}
.attostylestextmarker.attostylestextmarker-pink {
background: #ffccff;
}
.attostylestextmarker.attostylestextmarker-yellow {
background: #ffffcc;
}

/***** REMUI TEIDOS *****/

#section-0, #section-info {
box-shadow: 0 0 8px #e8e8e8; border-radius: 2px;
flex: content;
}

#section-info .labeldates {
line-height: 20px;
color: #848484;
}

#section-info .startdate {
color: #4c4c4c;
font-weight: bold
}

#section-info .enddate {
color: #ff8d50; 
font-weight: bold
}

#section-info .separator {
border-left: solid 1px #e4e4e4; 
max-height: 40px;
}

#section-info .teachers {
margin-left: -1em;
}

#section-info .labelprogress {
line-height: 20px;
color: #848484;
margin-right: -15px;

}

#section-info .resume {
margin-left: -1.5em;
}


@media screen and (max-width: 900px) {

#section-info .labelprogress {
display: none;
}

#section-info .resume {
display: none;
}

#section-info .teachers {
margin-left: -1.5em;
}

#section-info .c100 {
margin-left: 0.5em !important;
}
}

/*Separación de botón para agregar nueva actividad*/
#page-course-view-remuiformat div.section-modchooser  {
padding: 1em;
text-align: center;
}

#page-course-view-remuiformat div.section-modchooser span.section-modchooser-link{
background-color: #f7f7f7;
height: 45px;
font-size: 1.3em;
color: #243033 !important;
-webkit-box-shadow: 0 0 8px #ddd;
box-shadow: 0 0 4px #b7b7b7dd;
border-radius: 5px;
}

#page-course-view-remuiformat span.section-modchooser-link a, #page-course-view-remuiformat span.section-modchooser-link a:hover,
#page-course-view-remuiformat span.section-modchooser-link .fa.fa-plus {
color: #3e3e3e; 
}

#page-course-view-remuiformat div.section-modchooser span:hover{
background-color: #FFF !important;
color:#3e3e3e !important;
height: 45px;
}

#page-course-view-remuiformat div.section-modchooser span a{
border: none;
}

#page-course-view-remuiformat span.section-modchooser-link a {
color: #243033; 
}



@media (min-width: 481px) {
.choosercontainer #chooseform .selected .typesummary {
font-size: 1.3em !important;
}   
}

/*Ajustamos padding de tabas para que se mantengan en linea aún con botom de home*/
@media (min-width: 1024px){
.tabcontentcontainer label.dashboardtab, .tabcontentcontainer label.coursetab {
font-size: 1.25em;
padding: 18px 37px;
}
}

.tabcontentcontainer div.linktab {
background-color: #fff;
border-top: none;
color: #333333;
font-size: 2.1em;
padding-top: 18px;
}

.tabcontentcontainer div.linktab:hover {
color: #0c5263;
}


/* Formato del contenido de TAB1 y TAB 2 - Intro de sección en vista individual*/
#adaptable-course-tab-1 div.col-md-12, #adaptable-course-tab-2 div.col-md-12,
div.course-content div.col-md-12.px-0.p-x-0.my-20 {
background-color: white;
margin-right: 7px;
margin-bottom: 18px;
box-shadow: 0 0 8px #cecccc;
border-radius: 2px;
padding: 25px !important;
}

h2.section-title, h2.single-section-title, h4.sectionname {
color:#4e4d4d;
font-family: 'Staatliches', cursive;
margin-bottom: 15px;
}

h2.section-title:hover {
color:#484747;
}

h2.section-title:hover:after {
content: " »";
}

/*Lista de actividades y su cantidad que conforman el módulo*/
.section-summary-activities {
padding-bottom: 20px !important;
}

/*barra de progreso de sección en página principal del curso*/
.progress-bar-section {
margin-bottom: -1rem!important;
width: inherit;
background-color: #9edec0!important;
height: 12px !important;
border-top: solid 2px #9adabc;
}

/*Texto que indica número actividades pendientes o invitacióna empezar módulo*/
.section-action-container .progress-text {
font-size: 15px;
padding-bottom: 5px;
}


/*Tarjeta de descipción-introducción a la sección vista individual*/
div.course-content div.col-md-12.px-0.p-x-0.my-20 {
background-color: white;
margin-right: 7px;
margin-bottom: 18px;
box-shadow: 0 0 8px #cecccc;
border-radius: 2px;
padding: 25px !important;
}

/*Margen interna en contenidos del módulo*/
.course-content ul.remui-format-list li.section .content {
padding: 20px;
}

/*padding derecho para la vista de edición del módulo*/
.editing .section .activity .contentwithoutlink, .editing .section .activity .activityinstance{
padding-right: 5%;
}


i.fa.float-right i.fa.fa-angle-down {
font-size: 2.5em !important;
}

/*Portada del curso  imagen y pestañas*/
div.cover-section {
background-color:white;
margin-right: 7px;
margin-bottom:18px;
box-shadow: 0 0 8px #cecccc;
border-radius: 2px;
}

/*Diseño de banner dinámico*/

#course-banner{
min-height: 130px; 
width:100%; 
text-align: center
}


#course-banner div.program-name {
background-color: white;
margin: 0 22%;
min-height: 36px;
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 2px 0 #2b2b2b66;
padding: 10px;
color: #444444;
font-size: 1.3em;
}

#course-banner div.course-title {
margin-top:15px;
font-size: 1.6em;
color: white;
font-weight: bold;
text-shadow: 1px 1px 2px  #0c0c0c;
padding: 15px
}

/*Boton de login en portada del campus*/

.ucla-login {
padding-top: 12px;
margin-right: 10px;
}

@media (max-width: 620px) {
.ucla-login {
padding-top: 15px;
width: 150px;
margin-right: 150px;
} 
}




.ucla-login a {
box-shadow: inset 0px 1px 0px 0px #ffffff;
background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
background-color: #f9f9f9;
border-radius: 6px;
border: 1px solid #dcdcdc;
display: inline-block;
cursor: pointer;
color: #4a424a;
font-size: 15px;
font-weight: bold;
padding: 5px 15px;
text-decoration: none;
text-shadow: 0px 1px 0px #ffffff;
}
.ucla-login a:hover {
background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
background-color:#e9e9e9;
}
.ucla-login:active {
position:relative;
top:1px;
}

#adaptable-page-header-wrapper #header2 a i{
color:#fb5a57;
margin-right: 10px;
}

/*Alinear boton de busqueda con boton de login en header*/

#adaptable-page-header-wrapper #header2 .search-input-wrapper {
margin-top: -15px !important;
}


/*/******************************** OJO OJO OJO OJO *****************/
/*Estos ajustes fueron creados inicialmente para campus.teidos.com*/

/*Fondo de pestaña activa*/
.tabcontentcontainer input.coursetab:checked + label {
border-top: 4px solid #007b99;
color: #007b99;
}

.tabcontentcontainer {
background: #f2f2f2 !important;
}

/*Margen entre tab y banner del curso*/
#coursetabcontainer section.adaptable-tab-section {
padding: 0px;
border-top: none;
}

/*Estilo en nombre de curso - cards en vista general de curso dashboard*/
.block .block-cards .multiline {
white-space: normal;
text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
font-weight: bold;
font-size: 95%;
}


/*Bloques al interior de los tab de ADAPTABLE en los cursos*/

#page-course-view-remuiformat.pagelayout-course .container-fluid #region-main .card>.card-body:first-of-type {
background: #fbfbfb;
}

/*Estilo de barra de progreso en curso dashboard*/
.block .block-cards .progress {
height: .8rem;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 5px;
margin-bottom: 6px;
}

.progress-bar {
/*Barra de progreso en curso - bloque vista general de curso*/
background-color: #ff7d4a;
}

/*Ajustes de secciones tipo card por mlopez 20-06-2020 */
/*permito que el total de actividades pendientes sea visible*/
.section-action-container .progress-text {visibility:unset;;}

/*Ancho de la barra de progreso por sección en Edwiser Formats*/

.format-remuiformat.pagelayout-course .progress-xs {
margin: 10px -16px;
border-radius: 0px;
}

/* OJO teidos campus*/
/*resuelve el problema de que los modales mostraban contenido al 75%*/
.moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {
width: 100% !important;
}


.coursetab:hover{
color: #344b50;
}


@media (min-width: 1024px) {
.tabcontentcontainer label.coursetab {
padding: 20px 35px !important;
}
}

/* botones dentro de acordion Bootstrap en home del campus*/

#accordion button.btn-link {
background-color: inherit !important;
}

/*Acordion multiblok*/
.block_multiblock .multiblock-accordion .card-header [data-toggle="collapse"] {
padding: 0;
background: inherit;
font-weight: bold !important;
color: #0c5263 !important;
}

/*Imagenes en bloque HTML dentro de multiblock*/
div.multiblock.multiblock-accordion div.card-body {
padding: 0.7rem !important;
}

/*Encabezado de card en acordion multiblok*/
.card-header {
background-color: rgb(250, 250, 250);
border-bottom: none;
}


/*Margen superior del footer*/

#page-footer .info{
margin-top: 0px;
padding-top: 20px;
padding-bottom: 0px;
}



/*CSS para cargar la imagen que corresponda a cada programa*/

.program, 
.program1,
.program2,
.program3,
.program4,
.program5,
.program6,
.program7,
.program8,
.program9,
.program10,
.program11,
.program12,
.program13,
.program14,
.program15,
.program16,
.program17,
.program18,
.program19,
.program20,
.program21,
.program22,
.program24
{
background-image: url('https://teidos.com/imagenes/11.png'); 
}

.program23
{
background-image: url('https://teidos.com/imagenes/12.gif'); 
}

.program10-static{
background-image: url('https://teidos.com/imagenes/4.png'); 
}

.program6-static 
{
background-image: url('https://teidos.com/imagenes/EncuentroInvestigacion.png'); 
}

/*bloque de vista general de los cursos*/


@media (min-width: 1360px) {

body:not(.zoomin) .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
width: calc(50% - .5rem);
}

body.zoomin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
width: calc(33% - .5rem);
}

body:not(.zoomin) #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
width: calc(33% - .5rem);
}

body.zoomin #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
width: calc(25% - .5rem);
}
}

@media (min-width: 1360px) {

body:not(.zoomin) .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
width: calc(50% - .5rem);
}

body.zoomin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
width: calc(33% - .5rem);
}

body:not(.zoomin) #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
width: calc(33% - .5rem);
}

body.zoomin #page.fullin .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
width: calc(33% - .5rem);
}
}

/*Slide de noticias en area personal - News slider*/

.slider-banner-col, .slider-col  {
background-color: #fdfdfd;
}

.slider-banner-col:before {
content: url("https://teidos.com/imagenes/anuncio2.gif");
background-size: 300px 100px;
}

.slider-message {
color: #5a6669;
}

@media only screen and (min-width: 1024px) {
.slider-col {
width: 88%;
}
}


slider-banner-col span {
display: none;
}

div.block_news_slider {
-webkit-box-shadow: 0px 5px 8px -7px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 8px -7px rgba(0,0,0,0.2);
box-shadow: 0px 5px 8px -7px rgba(0,0,0,0.2) !important;
background-color: #fdfdfd !important;
}


@media only screen and (min-width: 1024px) {
.slider-banner-col {
width: 12%;
}
}


/* Fondo en barra de progreso bloque de cursos dashboard*/
.dashboard-card-deck .dashboard-card .dashboard-card-footer {

background-color: #fafafa !important;
border-top: 1px solid #f5f3f3 !important;
}


.dashboard-card {
margin-top: 1em !important;
}

div.block_online_users div.message {
display: none;
}

/*Ancho fijo del input en formulario*/
.form-control {
display: block;
width: 80% !important;
}
h5 {
font-weight: bolder !important;
}

/*oculto información de campos personalizados en vista de cursos y categorías*/

.customfields-container {
display: none;
}


/***BAR CSS PROGRESO***/

.rect-auto, .c100.p51 .slice, .c100.p52 .slice, .c100.p53 .slice, .c100.p54 .slice, .c100.p55 .slice, .c100.p56 .slice, .c100.p57 .slice, .c100.p58 .slice, .c100.p59 .slice, .c100.p60 .slice, .c100.p61 .slice, .c100.p62 .slice, .c100.p63 .slice, .c100.p64 .slice, .c100.p65 .slice, .c100.p66 .slice, .c100.p67 .slice, .c100.p68 .slice, .c100.p69 .slice, .c100.p70 .slice, .c100.p71 .slice, .c100.p72 .slice, .c100.p73 .slice, .c100.p74 .slice, .c100.p75 .slice, .c100.p76 .slice, .c100.p77 .slice, .c100.p78 .slice, .c100.p79 .slice, .c100.p80 .slice, .c100.p81 .slice, .c100.p82 .slice, .c100.p83 .slice, .c100.p84 .slice, .c100.p85 .slice, .c100.p86 .slice, .c100.p87 .slice, .c100.p88 .slice, .c100.p89 .slice, .c100.p90 .slice, .c100.p91 .slice, .c100.p92 .slice, .c100.p93 .slice, .c100.p94 .slice, .c100.p95 .slice, .c100.p96 .slice, .c100.p97 .slice, .c100.p98 .slice, .c100.p99 .slice, .c100.p100 .slice {
clip: rect(auto, auto, auto, auto);
}

.pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
position: absolute;
border: 0.09em solid #000000;
width: 0.82em;
height: 0.82em;
clip: rect(0em, 0.5em, 1em, 0em);
border-radius: 50%;
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}

.pie-fill, .c100.p51 .bar:after, .c100.p51 .fill, .c100.p52 .bar:after, .c100.p52 .fill, .c100.p53 .bar:after, .c100.p53 .fill, .c100.p54 .bar:after, .c100.p54 .fill, .c100.p55 .bar:after, .c100.p55 .fill, .c100.p56 .bar:after, .c100.p56 .fill, .c100.p57 .bar:after, .c100.p57 .fill, .c100.p58 .bar:after, .c100.p58 .fill, .c100.p59 .bar:after, .c100.p59 .fill, .c100.p60 .bar:after, .c100.p60 .fill, .c100.p61 .bar:after, .c100.p61 .fill, .c100.p62 .bar:after, .c100.p62 .fill, .c100.p63 .bar:after, .c100.p63 .fill, .c100.p64 .bar:after, .c100.p64 .fill, .c100.p65 .bar:after, .c100.p65 .fill, .c100.p66 .bar:after, .c100.p66 .fill, .c100.p67 .bar:after, .c100.p67 .fill, .c100.p68 .bar:after, .c100.p68 .fill, .c100.p69 .bar:after, .c100.p69 .fill, .c100.p70 .bar:after, .c100.p70 .fill, .c100.p71 .bar:after, .c100.p71 .fill, .c100.p72 .bar:after, .c100.p72 .fill, .c100.p73 .bar:after, .c100.p73 .fill, .c100.p74 .bar:after, .c100.p74 .fill, .c100.p75 .bar:after, .c100.p75 .fill, .c100.p76 .bar:after, .c100.p76 .fill, .c100.p77 .bar:after, .c100.p77 .fill, .c100.p78 .bar:after, .c100.p78 .fill, .c100.p79 .bar:after, .c100.p79 .fill, .c100.p80 .bar:after, .c100.p80 .fill, .c100.p81 .bar:after, .c100.p81 .fill, .c100.p82 .bar:after, .c100.p82 .fill, .c100.p83 .bar:after, .c100.p83 .fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p85 .bar:after, .c100.p85 .fill, .c100.p86 .bar:after, .c100.p86 .fill, .c100.p87 .bar:after, .c100.p87 .fill, .c100.p88 .bar:after, .c100.p88 .fill, .c100.p89 .bar:after, .c100.p89 .fill, .c100.p90 .bar:after, .c100.p90 .fill, .c100.p91 .bar:after, .c100.p91 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p93 .bar:after, .c100.p93 .fill, .c100.p94 .bar:after, .c100.p94 .fill, .c100.p95 .bar:after, .c100.p95 .fill, .c100.p96 .bar:after, .c100.p96 .fill, .c100.p97 .bar:after, .c100.p97 .fill, .c100.p98 .bar:after, .c100.p98 .fill, .c100.p99 .bar:after, .c100.p99 .fill, .c100.p100 .bar:after, .c100.p100 .fill {
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}

.wrapper5 {
margin: 0 auto;
}

.c100 {
position: relative;
font-size: 60px;
width: 1em;
height: 1em;
border-radius: 50%;
float: left;
margin: 0.2em;
background-color: #f2f2f2;
}
.c100 *, .c100 *:before, .c100 *:after {
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}
.c100 > span {

position: absolute;
width: 100%;
z-index: 1;
left: 0;
top: 0;
width: 3.5em;
line-height: 3.5em;
font-size: 0.28em;
color: #ff9359;
font-weight: bold;
display: block;
text-align: center;
white-space: nowrap;
-moz-transition-property: all;
-o-transition-property: all;
-webkit-transition-property: all;
transition-property: all;
-moz-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-moz-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.c100:after {
position: absolute;
top: 0.09em;
left: 0.09em;
display: block;
content: " ";
border-radius: 50%;
background-color: #ffffff;
width: 0.82em;
height: 0.82em;
-moz-transition-property: all;
-o-transition-property: all;
-webkit-transition-property: all;
transition-property: all;
-moz-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
-webkit-transition-duration: 0.2s;
transition-duration: 0.2s;
-moz-transition-timing-function: ease-in;
-o-transition-timing-function: ease-in;
-webkit-transition-timing-function: ease-in;
transition-timing-function: ease-in;
}
.c100 .slice {
position: absolute;
width: 1em;
height: 1em;
clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p1 .bar {
-moz-transform: rotate(3.6deg);
-ms-transform: rotate(3.6deg);
-webkit-transform: rotate(3.6deg);
transform: rotate(3.6deg);
}
.c100.p2 .bar {
-moz-transform: rotate(7.2deg);
-ms-transform: rotate(7.2deg);
-webkit-transform: rotate(7.2deg);
transform: rotate(7.2deg);
}
.c100.p3 .bar {
-moz-transform: rotate(10.8deg);
-ms-transform: rotate(10.8deg);
-webkit-transform: rotate(10.8deg);
transform: rotate(10.8deg);
}
.c100.p4 .bar {
-moz-transform: rotate(14.4deg);
-ms-transform: rotate(14.4deg);
-webkit-transform: rotate(14.4deg);
transform: rotate(14.4deg);
}
.c100.p5 .bar {
-moz-transform: rotate(18deg);
-ms-transform: rotate(18deg);
-webkit-transform: rotate(18deg);
transform: rotate(18deg);
}
.c100.p6 .bar {
-moz-transform: rotate(21.6deg);
-ms-transform: rotate(21.6deg);
-webkit-transform: rotate(21.6deg);
transform: rotate(21.6deg);
}
.c100.p7 .bar {
-moz-transform: rotate(25.2deg);
-ms-transform: rotate(25.2deg);
-webkit-transform: rotate(25.2deg);
transform: rotate(25.2deg);
}
.c100.p8 .bar {
-moz-transform: rotate(28.8deg);
-ms-transform: rotate(28.8deg);
-webkit-transform: rotate(28.8deg);
transform: rotate(28.8deg);
}
.c100.p9 .bar {
-moz-transform: rotate(32.4deg);
-ms-transform: rotate(32.4deg);
-webkit-transform: rotate(32.4deg);
transform: rotate(32.4deg);
}
.c100.p10 .bar {
-moz-transform: rotate(36deg);
-ms-transform: rotate(36deg);
-webkit-transform: rotate(36deg);
transform: rotate(36deg);
}
.c100.p11 .bar {
-moz-transform: rotate(39.6deg);
-ms-transform: rotate(39.6deg);
-webkit-transform: rotate(39.6deg);
transform: rotate(39.6deg);
}
.c100.p12 .bar {
-moz-transform: rotate(43.2deg);
-ms-transform: rotate(43.2deg);
-webkit-transform: rotate(43.2deg);
transform: rotate(43.2deg);
}
.c100.p13 .bar {
-moz-transform: rotate(46.8deg);
-ms-transform: rotate(46.8deg);
-webkit-transform: rotate(46.8deg);
transform: rotate(46.8deg);
}
.c100.p14 .bar {
-moz-transform: rotate(50.4deg);
-ms-transform: rotate(50.4deg);
-webkit-transform: rotate(50.4deg);
transform: rotate(50.4deg);
}
.c100.p15 .bar {
-moz-transform: rotate(54deg);
-ms-transform: rotate(54deg);
-webkit-transform: rotate(54deg);
transform: rotate(54deg);
}
.c100.p16 .bar {
-moz-transform: rotate(57.6deg);
-ms-transform: rotate(57.6deg);
-webkit-transform: rotate(57.6deg);
transform: rotate(57.6deg);
}
.c100.p17 .bar {
-moz-transform: rotate(61.2deg);
-ms-transform: rotate(61.2deg);
-webkit-transform: rotate(61.2deg);
transform: rotate(61.2deg);
}
.c100.p18 .bar {
-moz-transform: rotate(64.8deg);
-ms-transform: rotate(64.8deg);
-webkit-transform: rotate(64.8deg);
transform: rotate(64.8deg);
}
.c100.p19 .bar {
-moz-transform: rotate(68.4deg);
-ms-transform: rotate(68.4deg);
-webkit-transform: rotate(68.4deg);
transform: rotate(68.4deg);
}
.c100.p20 .bar {
-moz-transform: rotate(72deg);
-ms-transform: rotate(72deg);
-webkit-transform: rotate(72deg);
transform: rotate(72deg);
}
.c100.p21 .bar {
-moz-transform: rotate(75.6deg);
-ms-transform: rotate(75.6deg);
-webkit-transform: rotate(75.6deg);
transform: rotate(75.6deg);
}
.c100.p22 .bar {
-moz-transform: rotate(79.2deg);
-ms-transform: rotate(79.2deg);
-webkit-transform: rotate(79.2deg);
transform: rotate(79.2deg);
}
.c100.p23 .bar {
-moz-transform: rotate(82.8deg);
-ms-transform: rotate(82.8deg);
-webkit-transform: rotate(82.8deg);
transform: rotate(82.8deg);
}
.c100.p24 .bar {
-moz-transform: rotate(86.4deg);
-ms-transform: rotate(86.4deg);
-webkit-transform: rotate(86.4deg);
transform: rotate(86.4deg);
}
.c100.p25 .bar {
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}
.c100.p26 .bar {
-moz-transform: rotate(93.6deg);
-ms-transform: rotate(93.6deg);
-webkit-transform: rotate(93.6deg);
transform: rotate(93.6deg);
}
.c100.p27 .bar {
-moz-transform: rotate(97.2deg);
-ms-transform: rotate(97.2deg);
-webkit-transform: rotate(97.2deg);
transform: rotate(97.2deg);
}
.c100.p28 .bar {
-moz-transform: rotate(100.8deg);
-ms-transform: rotate(100.8deg);
-webkit-transform: rotate(100.8deg);
transform: rotate(100.8deg);
}
.c100.p29 .bar {
-moz-transform: rotate(104.4deg);
-ms-transform: rotate(104.4deg);
-webkit-transform: rotate(104.4deg);
transform: rotate(104.4deg);
}
.c100.p30 .bar {
-moz-transform: rotate(108deg);
-ms-transform: rotate(108deg);
-webkit-transform: rotate(108deg);
transform: rotate(108deg);
}
.c100.p31 .bar {
-moz-transform: rotate(111.6deg);
-ms-transform: rotate(111.6deg);
-webkit-transform: rotate(111.6deg);
transform: rotate(111.6deg);
}
.c100.p32 .bar {
-moz-transform: rotate(115.2deg);
-ms-transform: rotate(115.2deg);
-webkit-transform: rotate(115.2deg);
transform: rotate(115.2deg);
}
.c100.p33 .bar {
-moz-transform: rotate(118.8deg);
-ms-transform: rotate(118.8deg);
-webkit-transform: rotate(118.8deg);
transform: rotate(118.8deg);
}
.c100.p34 .bar {
-moz-transform: rotate(122.4deg);
-ms-transform: rotate(122.4deg);
-webkit-transform: rotate(122.4deg);
transform: rotate(122.4deg);
}
.c100.p35 .bar {
-moz-transform: rotate(126deg);
-ms-transform: rotate(126deg);
-webkit-transform: rotate(126deg);
transform: rotate(126deg);
}
.c100.p36 .bar {
-moz-transform: rotate(129.6deg);
-ms-transform: rotate(129.6deg);
-webkit-transform: rotate(129.6deg);
transform: rotate(129.6deg);
}
.c100.p37 .bar {
-moz-transform: rotate(133.2deg);
-ms-transform: rotate(133.2deg);
-webkit-transform: rotate(133.2deg);
transform: rotate(133.2deg);
}
.c100.p38 .bar {
-moz-transform: rotate(136.8deg);
-ms-transform: rotate(136.8deg);
-webkit-transform: rotate(136.8deg);
transform: rotate(136.8deg);
}
.c100.p39 .bar {
-moz-transform: rotate(140.4deg);
-ms-transform: rotate(140.4deg);
-webkit-transform: rotate(140.4deg);
transform: rotate(140.4deg);
}
.c100.p40 .bar {
-moz-transform: rotate(144deg);
-ms-transform: rotate(144deg);
-webkit-transform: rotate(144deg);
transform: rotate(144deg);
}
.c100.p41 .bar {
-moz-transform: rotate(147.6deg);
-ms-transform: rotate(147.6deg);
-webkit-transform: rotate(147.6deg);
transform: rotate(147.6deg);
}
.c100.p42 .bar {
-moz-transform: rotate(151.2deg);
-ms-transform: rotate(151.2deg);
-webkit-transform: rotate(151.2deg);
transform: rotate(151.2deg);
}
.c100.p43 .bar {
-moz-transform: rotate(154.8deg);
-ms-transform: rotate(154.8deg);
-webkit-transform: rotate(154.8deg);
transform: rotate(154.8deg);
}
.c100.p44 .bar {
-moz-transform: rotate(158.4deg);
-ms-transform: rotate(158.4deg);
-webkit-transform: rotate(158.4deg);
transform: rotate(158.4deg);
}
.c100.p45 .bar {
-moz-transform: rotate(162deg);
-ms-transform: rotate(162deg);
-webkit-transform: rotate(162deg);
transform: rotate(162deg);
}
.c100.p46 .bar {
-moz-transform: rotate(165.6deg);
-ms-transform: rotate(165.6deg);
-webkit-transform: rotate(165.6deg);
transform: rotate(165.6deg);
}
.c100.p47 .bar {
-moz-transform: rotate(169.2deg);
-ms-transform: rotate(169.2deg);
-webkit-transform: rotate(169.2deg);
transform: rotate(169.2deg);
}
.c100.p48 .bar {
-moz-transform: rotate(172.8deg);
-ms-transform: rotate(172.8deg);
-webkit-transform: rotate(172.8deg);
transform: rotate(172.8deg);
}
.c100.p49 .bar {
-moz-transform: rotate(176.4deg);
-ms-transform: rotate(176.4deg);
-webkit-transform: rotate(176.4deg);
transform: rotate(176.4deg);
}
.c100.p50 .bar {
-moz-transform: rotate(180deg);
-ms-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}
.c100.p51 .bar {
-moz-transform: rotate(183.6deg);
-ms-transform: rotate(183.6deg);
-webkit-transform: rotate(183.6deg);
transform: rotate(183.6deg);
}
.c100.p52 .bar {
-moz-transform: rotate(187.2deg);
-ms-transform: rotate(187.2deg);
-webkit-transform: rotate(187.2deg);
transform: rotate(187.2deg);
}
.c100.p53 .bar {
-moz-transform: rotate(190.8deg);
-ms-transform: rotate(190.8deg);
-webkit-transform: rotate(190.8deg);
transform: rotate(190.8deg);
}
.c100.p54 .bar {
-moz-transform: rotate(194.4deg);
-ms-transform: rotate(194.4deg);
-webkit-transform: rotate(194.4deg);
transform: rotate(194.4deg);
}
.c100.p55 .bar {
-moz-transform: rotate(198deg);
-ms-transform: rotate(198deg);
-webkit-transform: rotate(198deg);
transform: rotate(198deg);
}
.c100.p56 .bar {
-moz-transform: rotate(201.6deg);
-ms-transform: rotate(201.6deg);
-webkit-transform: rotate(201.6deg);
transform: rotate(201.6deg);
}
.c100.p57 .bar {
-moz-transform: rotate(205.2deg);
-ms-transform: rotate(205.2deg);
-webkit-transform: rotate(205.2deg);
transform: rotate(205.2deg);
}
.c100.p58 .bar {
-moz-transform: rotate(208.8deg);
-ms-transform: rotate(208.8deg);
-webkit-transform: rotate(208.8deg);
transform: rotate(208.8deg);
}
.c100.p59 .bar {
-moz-transform: rotate(212.4deg);
-ms-transform: rotate(212.4deg);
-webkit-transform: rotate(212.4deg);
transform: rotate(212.4deg);
}
.c100.p60 .bar {
-moz-transform: rotate(216deg);
-ms-transform: rotate(216deg);
-webkit-transform: rotate(216deg);
transform: rotate(216deg);
}
.c100.p61 .bar {
-moz-transform: rotate(219.6deg);
-ms-transform: rotate(219.6deg);
-webkit-transform: rotate(219.6deg);
transform: rotate(219.6deg);
}
.c100.p62 .bar {
-moz-transform: rotate(223.2deg);
-ms-transform: rotate(223.2deg);
-webkit-transform: rotate(223.2deg);
transform: rotate(223.2deg);
}
.c100.p63 .bar {
-moz-transform: rotate(226.8deg);
-ms-transform: rotate(226.8deg);
-webkit-transform: rotate(226.8deg);
transform: rotate(226.8deg);
}
.c100.p64 .bar {
-moz-transform: rotate(230.4deg);
-ms-transform: rotate(230.4deg);
-webkit-transform: rotate(230.4deg);
transform: rotate(230.4deg);
}
.c100.p65 .bar {
-moz-transform: rotate(234deg);
-ms-transform: rotate(234deg);
-webkit-transform: rotate(234deg);
transform: rotate(234deg);
}
.c100.p66 .bar {
-moz-transform: rotate(237.6deg);
-ms-transform: rotate(237.6deg);
-webkit-transform: rotate(237.6deg);
transform: rotate(237.6deg);
}
.c100.p67 .bar {
-moz-transform: rotate(241.2deg);
-ms-transform: rotate(241.2deg);
-webkit-transform: rotate(241.2deg);
transform: rotate(241.2deg);
}
.c100.p68 .bar {
-moz-transform: rotate(244.8deg);
-ms-transform: rotate(244.8deg);
-webkit-transform: rotate(244.8deg);
transform: rotate(244.8deg);
}
.c100.p69 .bar {
-moz-transform: rotate(248.4deg);
-ms-transform: rotate(248.4deg);
-webkit-transform: rotate(248.4deg);
transform: rotate(248.4deg);
}
.c100.p70 .bar {
-moz-transform: rotate(252deg);
-ms-transform: rotate(252deg);
-webkit-transform: rotate(252deg);
transform: rotate(252deg);
}
.c100.p71 .bar {
-moz-transform: rotate(255.6deg);
-ms-transform: rotate(255.6deg);
-webkit-transform: rotate(255.6deg);
transform: rotate(255.6deg);
}
.c100.p72 .bar {
-moz-transform: rotate(259.2deg);
-ms-transform: rotate(259.2deg);
-webkit-transform: rotate(259.2deg);
transform: rotate(259.2deg);
}
.c100.p73 .bar {
-moz-transform: rotate(262.8deg);
-ms-transform: rotate(262.8deg);
-webkit-transform: rotate(262.8deg);
transform: rotate(262.8deg);
}
.c100.p74 .bar {
-moz-transform: rotate(266.4deg);
-ms-transform: rotate(266.4deg);
-webkit-transform: rotate(266.4deg);
transform: rotate(266.4deg);
}
.c100.p75 .bar {
-moz-transform: rotate(270deg);
-ms-transform: rotate(270deg);
-webkit-transform: rotate(270deg);
transform: rotate(270deg);
}
.c100.p76 .bar {
-moz-transform: rotate(273.6deg);
-ms-transform: rotate(273.6deg);
-webkit-transform: rotate(273.6deg);
transform: rotate(273.6deg);
}
.c100.p77 .bar {
-moz-transform: rotate(277.2deg);
-ms-transform: rotate(277.2deg);
-webkit-transform: rotate(277.2deg);
transform: rotate(277.2deg);
}
.c100.p78 .bar {
-moz-transform: rotate(280.8deg);
-ms-transform: rotate(280.8deg);
-webkit-transform: rotate(280.8deg);
transform: rotate(280.8deg);
}
.c100.p79 .bar {
-moz-transform: rotate(284.4deg);
-ms-transform: rotate(284.4deg);
-webkit-transform: rotate(284.4deg);
transform: rotate(284.4deg);
}
.c100.p80 .bar {
-moz-transform: rotate(288deg);
-ms-transform: rotate(288deg);
-webkit-transform: rotate(288deg);
transform: rotate(288deg);
}
.c100.p81 .bar {
-moz-transform: rotate(291.6deg);
-ms-transform: rotate(291.6deg);
-webkit-transform: rotate(291.6deg);
transform: rotate(291.6deg);
}
.c100.p82 .bar {
-moz-transform: rotate(295.2deg);
-ms-transform: rotate(295.2deg);
-webkit-transform: rotate(295.2deg);
transform: rotate(295.2deg);
}
.c100.p83 .bar {
-moz-transform: rotate(298.8deg);
-ms-transform: rotate(298.8deg);
-webkit-transform: rotate(298.8deg);
transform: rotate(298.8deg);
}
.c100.p84 .bar {
-moz-transform: rotate(302.4deg);
-ms-transform: rotate(302.4deg);
-webkit-transform: rotate(302.4deg);
transform: rotate(302.4deg);
}
.c100.p85 .bar {
-moz-transform: rotate(306deg);
-ms-transform: rotate(306deg);
-webkit-transform: rotate(306deg);
transform: rotate(306deg);
}
.c100.p86 .bar {
-moz-transform: rotate(309.6deg);
-ms-transform: rotate(309.6deg);
-webkit-transform: rotate(309.6deg);
transform: rotate(309.6deg);
}
.c100.p87 .bar {
-moz-transform: rotate(313.2deg);
-ms-transform: rotate(313.2deg);
-webkit-transform: rotate(313.2deg);
transform: rotate(313.2deg);
}
.c100.p88 .bar {
-moz-transform: rotate(316.8deg);
-ms-transform: rotate(316.8deg);
-webkit-transform: rotate(316.8deg);
transform: rotate(316.8deg);
}
.c100.p89 .bar {
-moz-transform: rotate(320.4deg);
-ms-transform: rotate(320.4deg);
-webkit-transform: rotate(320.4deg);
transform: rotate(320.4deg);
}
.c100.p90 .bar {
-moz-transform: rotate(324deg);
-ms-transform: rotate(324deg);
-webkit-transform: rotate(324deg);
transform: rotate(324deg);
}
.c100.p91 .bar {
-moz-transform: rotate(327.6deg);
-ms-transform: rotate(327.6deg);
-webkit-transform: rotate(327.6deg);
transform: rotate(327.6deg);
}
.c100.p92 .bar {
-moz-transform: rotate(331.2deg);
-ms-transform: rotate(331.2deg);
-webkit-transform: rotate(331.2deg);
transform: rotate(331.2deg);
}
.c100.p93 .bar {
-moz-transform: rotate(334.8deg);
-ms-transform: rotate(334.8deg);
-webkit-transform: rotate(334.8deg);
transform: rotate(334.8deg);
}
.c100.p94 .bar {
-moz-transform: rotate(338.4deg);
-ms-transform: rotate(338.4deg);
-webkit-transform: rotate(338.4deg);
transform: rotate(338.4deg);
}
.c100.p95 .bar {
-moz-transform: rotate(342deg);
-ms-transform: rotate(342deg);
-webkit-transform: rotate(342deg);
transform: rotate(342deg);
}
.c100.p96 .bar {
-moz-transform: rotate(345.6deg);
-ms-transform: rotate(345.6deg);
-webkit-transform: rotate(345.6deg);
transform: rotate(345.6deg);
}
.c100.p97 .bar {
-moz-transform: rotate(349.2deg);
-ms-transform: rotate(349.2deg);
-webkit-transform: rotate(349.2deg);
transform: rotate(349.2deg);
}
.c100.p98 .bar {
-moz-transform: rotate(352.8deg);
-ms-transform: rotate(352.8deg);
-webkit-transform: rotate(352.8deg);
transform: rotate(352.8deg);
}
.c100.p99 .bar {
-moz-transform: rotate(356.4deg);
-ms-transform: rotate(356.4deg);
-webkit-transform: rotate(356.4deg);
transform: rotate(356.4deg);
}
.c100.p100 .bar {
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
.c100:hover {
cursor: default;
}
.c100:hover > span {
width: 3.33em;
line-height: 3.33em;
font-size: 0.3em;
color: #3c4761;
}
.c100:hover:after {
top: 0.07em;
left: 0.07em;
width: 0.86em;
height: 0.86em;
}
.c100.blue .bar, .c100.blue .fill {
border-color: #30bae7 !important;
}
.c100.blue:hover > span {
color: #3c4761;
}
.c100.pink .bar, .c100.pink .fill {
border-color: #d74680 !important;
}
.c100.pink:hover > span {
color: #3c4761;
}
.c100.green .bar, .c100.green .fill {
border-color: #15c7a8 !important;
}
.c100.green:hover > span {
color: #3c4761;
}
.c100.orange .bar, .c100.orange .fill {
border-color: #ff9359 !important;
}
.c100.orange:hover > span {
color: #505050;
}

/*Altura de slide de anuncios en dahsboard*/
#slider-container {
height: 140px !important;
}

/*Pestañas del bloque de la mesa de ayuda*/
.tabma {
font-family: Roboto Condensed !important;
margin-left: 7px;
}

/*Mostrar / ocultar contenido en formato remui, vista todo en una misma mágina*/
.show-hide-content {
font-family: Roboto Condensed !important;
margin-left: 7px;
}

/*Ajuste rápido mensajería, para revisar*/
.message-app .message.send {
background-color: #e1ffe1;
color: #212529;
}

[data-region="retry-send"] {
display:none;
}

/*Encabezado de entradas de foro sin leer*/

.forumpost.unread .row.header {
background-color: #fff8e2;
padding-left: 15px;
padding-top: 20px;
border-bottom: 1px solid #f1e3d0;
}

/*Encabezado foro leído*/
.forumpost .header {
padding: 20px 0 10px 20px;
background-color: #f5f5f5;
border-radius: 0 0 0 0;
border-bottom: 1px solid #e8e8e8;
}

/*Lecciones - barra de botones en la parte inferior del contenido*/
/** OJO, puede afectar otras páginas***/
div.branchbuttoncontainer {
padding: 20px;
background-color: #fffae7;
margin-bottom: 20px;
text-align: center;
border-top: 2px solid #f7e9c1;
}

/*Info tabs en area personal*/

.info-home-tabs .nav-pills .nav-link.active  {
background-color: #ffffff;
color:#51666c;
border-radius: 5px 5px 0px 0px;
border-top: solid 2px #ccc;
border-left: solid 1px #e2e2e2;
border-right: solid 1px #e2e2e2;
}

.info-home-tabs .nav-pills  {
padding: 5px 2em 0px;
}

.info-home-tabs li a:hover {
color: #20292b;
border-radius: 5px 5px 0px 0px;
border-radius: 5px 5px 0px 0px;
}

.info-home-tabs li a {
color: #64696b;
}

.info-home-tabs .nav {
background-color: #f5f5f5;
}

.info-home-tabs .nav-pills .show>.nav-link {
background-color: #e0e0e0;
color: #20292b;
}

.info-home-tabs .nav-item {
margin-right: 10px;
}

.info-home-tabs .tab-content {
padding: 1em 2em;
}

.info-home-tabs .dropdown-menu {
width: 100%;
}
/*ESTILOS PARA ALERT BOOSTRAP TIPO WARNING*/
.alert-warning {
color: #523e23;
background-color: #fff8e4;
border-color: #fbe8cd;
text-align: justify;
line-height: 15pt;
}

/*OCULTAR IMAGEN DE GRUPOS EN MENSAJES DE FOROS */

div.author-groups-container {
display:none;
}

/*BANNER PORTADA CON ICONOS DE SERVICIOS*/
/*Esto fue maquetado por Alejandro Restrepo el 1/10/2020*/

.context{
background: -webkit-linear-gradient(top,
rgba(230,230,230,1) 0%,
rgba(241,241,241,1) 2%,
rgba(244,244,244,1) 3%,
rgba(247,247,247,1) 6%,
rgba(250,250,250,1) 8%,
rgba(255,255,255,1) 100%);
}

.contint{
max-width: 1170px;
}
.fila{
display:flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}

.separador{
margin-top: 45px;
border-right: 1px solid #d6d6d6;
height: 80px;
align-content: center;
}

.texto{
font-size: 16px;
color: black;
}

#theinfo.container { width: 100%}

/**Estilos para la funcionalidad de informes personalizados: David Herney*/
#page-admin-report-customsql-index #region-main h2 {
font-size: 18px;
margin-top: 10px;
color: #aaa;
}

#page-admin-report-customsql-index #region-main h2 .reportcounts {
font-size: 14px;
}

#page-admin-report-customsql-index #region-main h3 {
font-size: 15px;
}

#page-admin-report-customsql-index .csql_category_reports {
padding: 10px;
border: 1px solid #bbb;
}

#page-admin-report-customsql-index .csql_category_reports p {
border-bottom: 1px dashed #bbb;
padding-bottom: 10px;
font-size: 12px;
}

#page-admin-report-customsql-index .csql_category_reports p a {
font-size: 15px;
font-weight: bold;
text-decoration: underline;
color: #00abaf;
margin-bottom: 10px;
}
/**Fin de Estilos para la funcionalidad de informes personalizados: David Herney*/

/*Estilos personalizados para encuestas moodle  - profemario 20201105*/

.path-mod-feedback .feedback_form .col-form-label {
display: block!important;
background-color: #f3f7fb;
font-weight: bold;
}

#fitem_id_anonymousmode {
display: none;  /*Oculta anuncio de que se guardan datos de usuario*/
}

/*Fin estilos encuestas moodle*/